@font-face {
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/firasans-700.woff2") format("woff2");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* sticky footer */
  min-height: 100%; /* sticky footer */
}

body {
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-secondary {
  padding: 11px 10px;
  background-color: #63a63e;
}

.button-bordered {
  padding: 9px 8px;
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
}

.button-arrow {
  position: relative;

  margin-left: -17px;
  padding: 11px;

  border-radius: 3px 5px 5px 3px;
}

.button-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;

  display: block;
  width: 21px;
  height: 100%;

  -webkit-mask-image: url("../images/icons/price-button.svg");
          mask-image: url("../images/icons/price-button.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 21px 100%;
          mask-size: 21px 100%;
  background-color: #ee3643;
}

/* titles */

.title {
  margin: 0;

  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.title-small {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

/* checkboxes and radiobuttons */

.control {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.control-input {
  position: relative;

  width: 21px;
  height: 21px;
  margin: 0;

  border: 2px solid #3d546f;

  -webkit-appearance: none;
          appearance: none;
}

.control-input:disabled + .control-label {
  opacity: 0.4;
}

.control-input[type="checkbox"] {
  border-radius: 2px;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 7px;
}

.control-input[type="radio"] {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  background-color: #3d546f;
  border-radius: 50%;
}

.control-label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* header */

.header-banner {
  padding-top: 11px;
  padding-bottom: 13px;
  min-height: 44px;

  background-color: #f3f7f9;
}

.header-banner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  column-gap: 33px;

  padding-right: 4px;
}

.header-banner-title {
  display: inline-block;

  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 1px; /* pixel perfect */
  margin-right: auto;

  color: #EE3643;

  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
}

.header-banner-address {
  display: inline-block;

  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #32425c;
}

.header-banner-phone {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 1px;

  font-weight: 700;
  line-height: 18px;
  color: #293449;
  letter-spacing: 2px;
  text-decoration: none;
}

.header-banner-phone::before {
  content: "";

  flex-shrink: 0;
  display: block;
  width: 16px;
  height: 16px;

  -webkit-mask-image: url("../images/icons/phone.svg");
          mask-image: url("../images/icons/phone.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  -webkit-mask-position: left 0 center;
          mask-position: left 0 center;
  background-color: #293449;
}

.header-menu {
  background-color: #293449;
}

.header-menu-container {
  display: grid;
  grid-template-columns: auto 716px 234px;
  justify-content: start;
  min-height: 45px;
}

.logo {
  position: relative;
  z-index: 2;

  display: block;
  padding: 13px 0 14px;
  width: 220px;
  height: 45px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.logo img {
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.header-search {
  height: 45px;
}

.header-search-field {
  display: block;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 53px;
  padding-right: 21px;
  width: 100%;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top 12px left 21px;
  border: none;
}

.header-search-field::placeholder {
  color: #c5c5c5;
}

.header-search-field:hover {
  color: #293449;
  background-color: #f1f5f7;
  background-image: url("../images/icons/search-active.svg");
}

.header-search-field:focus-visible {
  outline: none;
}

.header-search-field:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.header-search-field::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.login-wrapper {
  position: relative;
}

.login {
  display: flex;
  justify-content: end;
}

.login-logged-in {
  justify-content: space-between;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 14px 2px 13px;
  min-width: 21px;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #f1f5f7;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: transparent;

  cursor: pointer;
}

.login-button::before {
  content: "";

  flex-shrink: 0;
  display: block;
  width: 16px;
  height: 16px;

  -webkit-mask-image: url("../images/icons/login.svg");
          mask-image: url("../images/icons/login.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  background-color: #ffffff;
}

.logout-button {
  transform: rotate(180deg);
}

.login-user {
  display: grid;
  grid-template-columns: 16px auto;
  align-items: center;
  gap: 8px;

  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;
  padding-right: 9px;

  color: #f1f5f7;
  text-decoration: none;
}

.login-user img {
  display: block;
  width: 16px;
  height: 16px;

  object-fit: cover;
}

.login-username {
  max-width: 160px;
}

.logged-out .login-logged-in,
.logged-in .login-logged-out {
  display: none;
}

.popup {
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 3px;

  display: none;
  padding-top: 23px;
  padding-bottom: 33px;
  padding-left: 31px;
  padding-right: 29px;
  width: 360px;

  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.popup-control:focus-within .popup,
.popup-control:focus .popup {
  display: block;
}

.login-popup-title {
  margin-bottom: 45px;
  max-width: 280px;

  color: #000000;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-group {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 12px;
  row-gap: 7px;

  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  border: none;
}

.login-field {
  grid-column: 1 / -1;

  padding: 7px 13px;
  width: 100%;
  height: 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

.login-field:last-of-type {
  margin-bottom: 5px;
}

.login-control {
  gap: 18px;
}

.login-control-input {
  width: 20px;
  height: 20px;
}

.login-control-input[type="checkbox"]:checked {
  background-position: top 4.29px left 4px;
  background-size: 9.41px 7.12px;
}

.login-form-link {
  margin-top: 1px; /* pixel perfect */

  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.login-form-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  margin-left: -5px;
  margin-bottom: 2px;
}

.login-popup-button {
  min-width: 145px;
}

.login-popup-button-login {
  justify-content: start;
  gap: 15px;
  padding: 11px 25px;
}

.login-popup-button-login::before {
  content: "";

  flex-shrink: 0;

  display: block;
  width: 15px;
  height: 15px;

  -webkit-mask-image: url("../images/icons/login.svg");
          mask-image: url("../images/icons/login.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 15px 15px;
          mask-size: 15px 15px;
  background-color: #ffffff;
}

.login-popup-logged-in {
  top: 12px;
}

.login-popup-logged-in .login-popup-title {
  margin-bottom: 34px;
}

.login-popup-username {
  display: inline-block;
}

.login-popup-links {
  display: flex;
  flex-direction: column;
  gap: 23px;

  margin-bottom: 24px;
}

.login-popup-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #3d546f;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.popup-close {
  position: absolute;
  top: 19px;
  right: 19px;

  display: block;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
}

.nav {
  min-height: 70px;
  background-color: #3d546f;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
  max-width: 816px;
}

.nav-link {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 27px;
  padding-left: 22.5px;
  padding-right: 22.5px;

  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  color: #c5c5c5;
  background-color: #32425c;
}

.nav-link:active {
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}

/* width jump fix: width is pre-set before actual font-weight change */
.nav-link::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-menu-button {
  display: flex;
  align-items: center;

  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 11.5px;
  padding-right: 11.5px;
  min-width: 18px;
  height: 100%;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-menu-button-bookmarks {
  gap: 8px;
}

.nav-menu-button-cart {
  gap: 6px;
}

.nav-menu-button::before {
  content: "";

  flex-shrink: 0;

  display: block;
  width: 18px;
  height: 18px;

  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 18px 18px;
          mask-size: 18px 18px;

  background-color: rgba(255, 255, 255, 0.6);
}

.nav-menu-button-bookmarks::before {
  -webkit-mask-image: url("../images/icons/bookmark.svg");
          mask-image: url("../images/icons/bookmark.svg");
}

.nav-menu-button-cart::before {
  -webkit-mask-image: url("../images/icons/cart.svg");
          mask-image: url("../images/icons/cart.svg");
}

.nav-menu-button-counter {
  display: none;
}

.nav-menu-button-counter.counter-visible {
  display: inline-block;
}

.nav-menu-order {
  margin-top: -8px;
  margin-left: 16px;
  margin-right: 3px;
  padding: 12px 10px;
  min-width: 170px;
  max-width: 270px;

  border-radius: 4px;
}

/* main */

.main {
  flex-grow: 1; /* sticky footer */
}

.hero {
  padding-top: 52px;
  padding-bottom: 50px;
}

.promo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  color: #ffffff;
}

.promo-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  padding-top: 20px;
  padding-bottom: 33px;
  padding-left: 25px;
  padding-right: 165px;
  min-height: 180px;

  overflow: hidden;
}

.promo-item-new::before {
  content: "new";

  position: absolute;
  top: 8px;
  right: -25px;

  padding: 6px 20px;
  width: 96px;
  background-color: #ee3643;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  transform: rotate(45deg);
}

.promo-item::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 37px;
  transform: translateY(-50%);

  display: block;
  width: 90px;
  height: 90px;

  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 90px 90px;
          mask-size: 90px 90px;
  background-color: #fff;
}

.promo-item-materials {
  margin-bottom: -3px; /* pixel perfect */
  background-color: #ffbf47;
}

.promo-item-materials::after {
  -webkit-mask-image: url("../images/materials.svg");
          mask-image: url("../images/materials.svg");
}

.promo-item-tools {
  margin-bottom: -3px; /* pixel perfect */
  background-color: #3bbce3;
}

.promo-item-tools::after {
  -webkit-mask-image: url("../images/tools.svg");
          mask-image: url("../images/tools.svg");
}

.promo-item-machinery {
  margin-bottom: -3px; /* pixel perfect */
  background-color: #dc91d8;
}

.promo-item-machinery::after {
  -webkit-mask-image: url("../images/machinery.svg");
          mask-image: url("../images/machinery.svg");
}

.promo-item-discount {
  background-color: #8ed78f;
}

.promo-item-discount::after {
  -webkit-mask-image: url("../images/discount.svg");
          mask-image: url("../images/discount.svg");
}

.promo-item-delivery {
  background-color: #ffbf47;
}

.promo-item-delivery::after {
  -webkit-mask-image: url("../images/delivery.svg");
          mask-image: url("../images/delivery.svg");
}

.promo-item-title {
  max-width: 180px;
}

.promo-item-button {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 6px;

  padding: 10px 5px;
  width: 180px;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid #ffffff;
}

.promo-item-button::before {
  content: "";

  flex-shrink: 0;

  display: block;
  width: 16px;
  height: 16px;

  -webkit-mask-image: url("../images/icons/arrow-bold.svg");
          mask-image: url("../images/icons/arrow-bold.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
  background-color: #ffffff;
}

.slider {
  position: relative;

  grid-column: 1 / span 2;
  grid-row: 2 / span 2;

  display: block;
  min-height: 390px;

  background-color: #3d546f;
}

.slider-list {
  width: 100%;
  height: 100%;
}

.slider-item {
  position: relative;
  z-index: 1;

  display: none;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  padding: 50px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}

.slider-item::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
}

.slider-item-active {
  display: flex;
}

.slider-item-drill {
  background-image: url("../images/slider-drill.jpg");
}

.slider-item-hammerdrill {
  background-image: url("../images/slider-hammerdrill.jpg");
}

.slider-subtitle {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
}

.slider-button {
  margin-top: auto;
  min-width: 195px;
}

.slider-controls {
  position: absolute;
  z-index: 1;
  top: calc(50% + 10px);
  left: 0;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  width: 100%;
}

.slider-arrow {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;

  background-color: rgba(41, 52, 73, 0.6);
  border: none;
  border-radius: 50%;
}

.slider-arrow::before {
  content: "";

  display: block;
  width: 100%;
  height: 100%;

  -webkit-mask-image: url("../images/icons/arrow.svg");
          mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 20px 20px;
          mask-size: 20px 20px;
  -webkit-mask-position: center;
          mask-position: center;

  background-color: #ffffff;
}

.slider-prev::before {
  transform: rotate(180deg);
}

.slider-bullets {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  line-height: 8px;
}

.slider-bullet {
  padding: 0;
  width: 8px;
  height: 8px;

  background-color: rgba(255, 208, 128, 0.8);
  border: none;
  border-radius: 50%;
}

.slider-bullet-current {
  background-color: #ffffff;
  pointer-events: none;
}

/* catalog */

.catalog {
  padding-top: 25px;
  padding-bottom: 53px;
}

.catalog-title {
  margin-bottom: 26px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 10px;
}

.filter-form {
  max-width: 220px;
}

.filter-group {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  width: 100%;

  border: none;
}

.filter-group-title {
  margin-bottom: 8px;
  padding: 0;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-group-checkbox .filter-group-title {
  margin-bottom: 16px;
}

.filter-group-radio .filter-group-title {
  margin-bottom: 18px;
}

.filter-group-range {
  margin-bottom: 40px;
}

.filter-range {
  margin-bottom: 7px;
  padding: 19px 20px;
  width: 100%;
  min-height: 40px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-scale {
  position: relative;

  width: 180px;
  height: 2px;

  background-color: #3d546f;
}

.range-bar {
  position: absolute;
  height: 100%;

  background-color: #5fbb2d;
}

.range-toggle {
  position: absolute;
  top: -9px;

  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
}

.toggle-min {
  left: -1px;
}

.toggle-max {
  top: -10px;
  right: -1px;
}

.filter-range-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-input {
  padding: 11px 20px;
  width: 95px;
  height: 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #293449;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;

  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.filter-range-input-divider {
  max-width: 30px;
  font-size: 15px;
  color: #293449;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.filter-group-checkbox .filter-item:last-child {
  margin-top: -1px;
}

.filter-group-radio .filter-list {
  gap: 18px;
}

.filter-group-radio {
  padding-left: 5px;
}

.filter-button {
  width: 100%;

  color: #32425c;
  border-color: #3d546f;
}

.results {
  padding-top: 32px;
}

.select-control {
  position: relative;

  margin-left: 5px;
  margin-bottom: 31px;
  padding: 7px 15px;
  padding-right: 31px;
  width: 280px;
  height: 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #293449;

  background-color: #ffffff;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 9px 6px;
  background-position: top 50% right 11px;
  border: 1px solid #3d546f;
  border-radius: 2px;

  -webkit-appearance: none;
          appearance: none;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px 33px;

  margin-bottom: 32px;
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 27px 20px 23px;
  max-width: 270px;

  background-color: #ffffff;

  overflow: hidden;
}

.product-card-new::before {
  content: "new";

  position: absolute;
  z-index: 2;
  top: 8px;
  right: -25px;

  padding: 7px 20px 5px;
  width: 96px;
  background-color: #ee3643;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  transform: rotate(45deg);
}

.product-card:hover {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
}

.product-card-img-wrapper {
  position: relative;

  margin-bottom: 14px;
  width: 216px;
  height: 180px;
}

.product-card-button-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  align-items: start;
  gap: 11px;

  padding: 35px 37px;
  width: 100%;
  height: 100%;
}

.product-card-button-wrapper::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.product-card:hover .product-card-button-wrapper {
  display: flex;
}

.product-card-button {
  min-width: 135px;
}

.product-card-button-buy {
  justify-content: start;
  gap: 9px;

  padding: 11px 23px;
  border-radius: 0;
}

.product-card-button-buy::before {
  content: "";

  flex-shrink: 0;

  display: block;
  width: 14px;
  height: 14px;

  -webkit-mask-image: url("../images/icons/cart.svg");
          mask-image: url("../images/icons/cart.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 14px 14px;
          mask-size: 14px 14px;
  background-color: #ffffff;
}

.product-card-title {
  margin: 0;
  margin-bottom: 14px;
  width: 230px;

  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.product-card-old-price {
  margin-left: 1px; /* pixel perfect */
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #A9A9A9;
  letter-spacing: 2px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.product-card .button-arrow {
  margin-top: auto;
  min-width: 122px;
  max-width: 213px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 17px;

  padding-left: 14px;
  padding-right: 10px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: block;
  padding: 14px 20px 15px;
  min-width: 50px;
  min-height: 45px;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #3d546f;
  border-radius: 2px;
}

.pagination-link-current {
  color: #3d546f;
  background-color: #ffffff;
  pointer-events: none;
}

.results-button {
  flex-shrink: 0;
  width: 195px;
}
