@font-face {
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/firasans-700.woff2") format("woff2");
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* sticky footer */
  min-height: 100%; /* sticky footer */
}

body {
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-secondary {
  padding: 11px 10px;
  background-color: #63a63e;
}

.button-bordered {
  padding: 9px 8px;
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
}

.button-arrow {
  position: relative;
  padding: 11px;
  max-width: 122px;
  border-radius: 3px 5px 5px 3px;
}

.button-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;

  display: block;
  width: 21px;
  height: 40px;

  background-image: url("../images/icons/price-button.svg");
  background-repeat: no-repeat;
}

/* titles */

.title {
  margin: 0;

  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.title-small {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

/* checkboxes and radiobuttons */

.control {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.control-input {
  position: relative;

  width: 21px;
  height: 21px;
  margin: 0;

  border: 2px solid #3d546f;

  -webkit-appearance: none;
          appearance: none;
}

.control-input:disabled + .control-label {
  opacity: 0.4;
}

.control-input[type="checkbox"] {
  border-radius: 2px;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 7px;
}

.control-input[type="radio"] {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  background-color: #3d546f;
  border-radius: 50%;
}

.control-label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.main {
  flex-grow: 1; /* sticky footer */
}
